.bubble-menu {
	@apply flex items-center h-10 gap-1 p-[3px] border border-border rounded-[15px] bg-background shadow-md outline-0 overflow-hidden z-50;
}

.ProseMirror {
	@apply w-full px-11 pt-6 pb-48 caret-primary outline-0;

	font-family:
		DM Sans,
		sans-serif;

	/* Placeholder styles */
	p {
		@apply my-2;
	}

	p.is-empty::before {
		color: #adb5bd;
		content: attr(data-placeholder);
		float: left;
		height: 0;
		pointer-events: none;
	}

	/* Heading styles */
	h1 {
		@apply text-3xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	h4 {
		@apply text-lg;
	}

	h5 {
		@apply text-base;
	}

	h6 {
		@apply text-sm;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold my-2;
	}

	/* List styles */
	input[type="checkbox"] {
		@apply border-[1.5px] border-foreground/50;

		appearance: none;
		background-color: #fff;
		margin: 0;
		font: inherit;
		color: currentColor;
		width: 1.15em;
		height: 1.15em;
		/* border: 0.15em solid; */
		border-radius: 100%;
		transform: translateY(1.5px);
		display: grid;
		place-content: center;
	}

	input[type="checkbox"]::before {
		content: "";
		width: 0.65em;
		height: 0.65em;
		border-radius: 100%;
		transform: scale(0);
		transition: 120ms transform ease-in-out;
		box-shadow: inset 1em 1em hsl(212.01999999999998 100% 46.67%);
	}

	input[type="checkbox"]:checked::before {
		transform: scale(1);
	}

	ol {
		@apply list-decimal;
	}

	ul {
		@apply list-disc;
	}

	ul,
	ol {
		@apply px-8 py-3 first:mt-0 last:mb-0;

		ul,
		ol,
		li {
			@apply my-1;
		}
	}

	& > ul,
	& > ol {
		@apply first:mt-0 last:mb-0;
	}

	ul[data-type="taskList"] {
		@apply list-none px-4 py-3;

		p {
			@apply m-0;
		}

		li {
			@apply flex;

			> label {
				@apply grow-0 shrink-0 flex-auto mt-0.5 mr-2 select-none;
			}

			> div {
				@apply flex-auto;
			}

			&[data-checked="true"] {
				@apply line-through decoration-foreground;

				p {
					@apply text-foreground/50;
				}
			}
		}
	}

	/* Blockquote styles */
	blockquote {
		@apply border-l-4 border-l-foreground my-4 pl-4;
	}

	/* CodeBlock and code styles */
	code {
		@apply bg-muted text-foreground rounded-md text-xs py-1 px-1.5 border border-border;
	}

	pre {
		@apply whitespace-pre-wrap my-6 rounded border border-border bg-muted p-3 text-foreground caret-primary;

		code {
			@apply bg-transparent p-0 text-inherit rounded-none border-none;
		}
	}

	.hljs-comment,
	.hljs-quote {
		color: #616161;
	}

	.hljs-variable,
	.hljs-template-variable,
	.hljs-attribute,
	.hljs-tag,
	.hljs-name,
	.hljs-regexp,
	.hljs-link,
	.hljs-name,
	.hljs-selector-id,
	.hljs-selector-class {
		color: #f98181;
	}

	.hljs-number,
	.hljs-meta,
	.hljs-built_in,
	.hljs-builtin-name,
	.hljs-literal,
	.hljs-type,
	.hljs-params {
		color: #fbbc88;
	}

	.hljs-string,
	.hljs-symbol,
	.hljs-bullet {
		color: #b9f18d;
	}

	.hljs-title,
	.hljs-section {
		color: #faf594;
	}

	.hljs-keyword,
	.hljs-selector-tag {
		color: #70cff8;
	}

	.hljs-emphasis {
		font-style: italic;
	}

	.hljs-strong {
		font-weight: 700;
	}

	/* Horizontal Rule (Divider) styles */
	[data-type="horizontalRule"] {
		@apply my-1 py-4 transition-all duration-100 ease-in-out cursor-pointer;

		hr {
			@apply border-0 border-t border-t-border;
		}
	}

	/* Slash command decoration styles */
	.tiptap-slash-highlight {
		@apply rounded bg-accent/60 outline-[5.5px] outline-solid outline-border/60;
	}

	/* Highlight styles */
	mark {
		@apply rounded-md decoration-clone text-inherit px-1 py-0.5;
	}

	/* Bubble Menu animation styles */
	.bubble-menu {
		transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
	}

	/* Link styles */
	a {
		@apply text-primary cursor-pointer underline;
	}

	/* Image Node View styles */
	.node-imageUploader {
		@apply my-8;
	}
}

.ProseMirror ::selection {
	@apply bg-primary/20;
}

.ProseMirror-selectednode {
	@apply bg-primary/20 rounded-lg !outline-none;
}
